h1{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px;
    font-size: 190%;
    font-family: cursive;
    font-style: oblique;
    padding: 2px;
    border: 2px dotted crimson;
    margin: 5px;
    color: rgb(33, 210, 30);
}
table{
    font-size: x-large;
    text-align: center;

}
caption{
    font-size: xx-large;
    color: darkblue;
    text-decoration: underline;
    font-style: inherit;
}
th{
    color: rgb(240, 19, 19);
    text-transform: capitalize;
}
tr{color: rgb(62, 132, 4);
    text-transform: capitalize;
    
}
